@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    background-color: #cccccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

:before,:after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.container{
    max-width: 1140px;
    margin: auto
}

header,section,footer{
    display: block;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify{
    justify-content: space-between;
}

.justifycenter{
    justify-content: center;
}

.align{
    align-items: center;
}

.sectiontitle{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
}

.sectiontitle h2{
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.btn1{
    padding: 10px 35px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease;
    font-weight: 500;
}

.btn1:focus{
    outline: none;
}

.btn1:hover{
    background-color: transparent;
}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #111111;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader .loader{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.preloader .loader:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    animation: loaderSpin 2s linear infinite;
}

@keyframes loaderSpin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.preloader .loader i{
    font-size: 20px;
    animation: loader 2s linear infinite;
}
@keyframes loader{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.7);
    }
}

.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    transition: all 0.5s ease;
}

.header.fixed{
    background-color: #ffffff;
    box-shadow: 0 0 8px #cccccc;
}

.header .logo{
    padding: 0 15px;
}

.header .logo a{
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.header.fixed .logo a{
    color: #000000;
}

.header .barbtn{
    display: inline-block;
    height: 34px;
    width: 40px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
}

.header.fixed .barbtn{
    border-color: #000000;
    background-color: #000000;
}

.header .barbtn span{
    display: block;
    height: 1px;
    width: 16px;
    background-color: #ffffff;
    position: relative;
    transition: all 0.5s ease;
}

.header .barbtn span:before,
.header .barbtn span:after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #ffffff;
}

.header .barbtn span:before{
    top: -6px;
}

.header .barbtn span:after{
    top: 6px;
}

.header .nav{
    padding: 0 15px;
}

.header .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li{
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a{
    display: block;
    padding: 25px 0;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}

.header.fixed .nav ul li a{
    color: #555555;
}

.homesection{
    min-height: 100vh;
    position: relative;
}

.homesection .slide{
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.homesection .slide.active{
    opacity: 1;
    visibility: visible;
}

.homesection .slide:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.homesection .row{
    min-height: 100vh;
}

.homesection .homecontent{
    flex:  0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
}

.homesection .homecontent p{
    font-size: 24px;
    color: white;
    margin: 0 0 15px;
}

.homesection .slide.active .homecontent p{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
}

@keyframes fadeInTop{
    0%{
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.homesection .homecontent h1{
    font-size: 80px;
    color: white;
    margin: 0;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
}

.homesection .slide.active .homecontent h1{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 0.5s;
}

.homesection .homecontent span{
    font-size: 20px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    padding: 7px 30px;
    margin: 15px 0 0;
}

.homesection .slide.active .homecontent span{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
}

.couplesection{
    padding: 80px 0 0;
}

.couplesection .couple{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
}

.couplesection .couple:nth-child(2)::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #888888;
}

.couplesection .couple i.fa-heart{
    position: absolute;
    left: -15px;
    width: 31px;
    padding: 5px;
    text-align: center;
    top: 30%;
}

.couplesection .couple img{
    max-width: 280px;
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

.couplesection .couple h3{
    font-size: 40px;
    margin: 15px 0;
    font-weight: normal;
}

.couplesection .couple p{
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    margin:0;
}

.couplesection .socialicons{
    padding-top: 30px;
}

.couplesection .socialicons a{
    display: inline-block;
    margin: 0 3px;
}

.couplesection .socialicons a i{
    height: 32px;
    width: 32px;
    line-height: 30px;
    border: 1px solid transparent;
    text-align: center;
    display: block;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.couplesection .socialicons a:hover i{
    color: white;
}

.storysection{
    padding: 80px 0 80px;
}

.storysection .storycontent{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.storysection .storycontent::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #888888;
}

.storysection .storyitem i{
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 5px;
    width: 31px;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}

.storysection .storyitem{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.storysection .storyitem:last-child{
    margin-bottom: 0;
}

.storysection .storyitem:nth-child(even){
    flex-direction: row-reverse;
}

.storysection .storyitem:nth-child(odd) .storytext{
    padding: 0 60px 0 15px;
    text-align: right;
}

.storysection .storyitem:nth-child(odd) .storyimg{
    padding: 0 15px 0 60px;
}

.storysection .storyitem:nth-child(even) .storytext{
    padding: 0 15px 0 60px;
}

.storysection .storyitem:nth-child(even) .storyimg{
    padding: 0 60px 0 15px;
}

.storysection .storytext,
.storysection .storyimg{
    flex: 0 0 50%;
    max-width: 50%;
}

.storysection .storyimg img{
    width: 100%;
}

.storysection .storytext h3{
    font-size: 24px;
    margin: 0 0 8px;
    font-weight: 500;
    text-transform: capitalize;
}

.storysection .storytext span.date{
    font-size: 15px;
    font-weight: 700;
    color: #555555;
    margin: 0 0 15px;
    display: block;
    text-transform: capitalize;
}

.storysection .storytext p{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: #555555;
}

.eventsection{
    padding: 80px 0 130px;
}

.eventsection .sectiontitle h2{
    color: white;
    font-family: 'Great Vibes', cursive;
}

.eventsection .eventitem{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.eventsection .eventitem:nth-child(2){
    transform: translateY(50px);
}

.eventsection .eventiteminner{
    background-color: white;
    padding: 60px 45px 100px;
    text-align: center;
    box-shadow: 0 0 10px #888888;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.eventsection .eventiteminner::before{
    content: "";
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    z-index: -1;
} 

.eventsection .eventiteminner h3{
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    display: inline-block;
}

.eventsection .eventiteminner span{
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.eventsection .eventiteminner span.time{
    margin-bottom: 15px;
}

.eventsection .eventiteminner p{
    font-size: 16px;
    line-height: 26px;
    color: gray;
    margin: 0;
}

.eventsection .eventiteminner img{
    position: absolute;
    width: 40px;
    left: 50%;
    bottom: 18px;
    z-index: -2;
    margin-left: -20px;
}

.peoplesection{
    padding: 80px 0 0;
}

.peoplesection .peoplefilter{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.peoplesection .filterbtn{
    background-color: #cccccc;
    color: #555555;
    padding: 7px 15px;
    display: inline-block;
    margin: 0 3PX;
    font-size: 16PX;
    margin-bottom: 10px;
    text-decoration: none;
}

.peoplesection .filterbtn.active{
    color: white;
}

.peoplesection .peopleitem{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 15px;
    margin-top: 25px;
    display: none;
}

.peoplesection .peopleiteminner{
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}

.peoplesection .peopleiteminner img{
    width: 100%;
    box-shadow: 0 0 10px #cccccc;
    margin-top: -40px;
    transition: all 0.5s ease;
}

.peoplesection .peopleiteminner:hover img{
    transform: scale(0.95);
}

.peoplesection .peopleiteminner h4{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin: 20px 0 5px;
    text-transform: capitalize;
}

.peoplesection .peopleiteminner p{
    color: #555555;
    font-size: 16px;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.peoplesection .peopleiteminner .socialicons{
    text-align: center;
    padding: 10px 0;
}

.peoplesection .peopleiteminner .socialicons a{
    display: inline-block;
    margin: 0 3px;
    text-decoration: none;
}

.peoplesection .peopleiteminner .socialicons a i{
    height: 32px;
    width: 32px;
    border: 1px solid transparent;
    display: block;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.peoplesection .peopleiteminner .socialicons a:hover i{
    color: #ffffff;
}

.gallerysection{
    padding: 80px 0 80px;
}

.gallerysection .galleryitem{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.gallerysection .galleryiteminner{
    overflow: hidden;
    cursor: pointer;
}

.gallerysection .galleryiteminner img{
    width: 100%;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.gallerysection .galleryiteminner:hover img{
    transform: scale(1);
}

.gallerypopup{
    cursor: zoom-out;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1099;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.gallerypopup.open{
    display: flex;
}

.gallerypopup img.gpimg{
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 40px 0;
}

.gallerypopup .gpcontainer{
    position: relative;
    cursor: auto;
}

.gallerypopup .gpcounter{
    display: block;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    font-weight: bold;
}

.gallerypopup .gpclose{
    display: block;
    height: 40px;
    width: 40px;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 38px;
    overflow: hidden;
    cursor: zoom-out;
}

.gallerypopup .gpcontrols{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallerypopup .gpcontrols .prev,
.gallerypopup .gpcontrols .next{
    display: inline-block;
    margin: 0 10px;
}

.gallerypopup .gpcontrols .prev i,
.gallerypopup .gpcontrols .next i{
    color: #ffffff;
    font-size: 20px;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.gallerypopup .gpcontrols .prev:hover i,
.gallerypopup .gpcontrols .next:hover i{
    background-color: rgba(0, 0, 0, 0.7);
}

.rsvpsection{
    padding: 80px 0 80px;
}

.rsvpsection .sectiontitle h2,
.rsvpsection .sectiontitle p{
    color: white;
}

.rsvpsection .sectiontitle p{
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 26px;
}

.rsvpsection .rsvpform{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.rsvpsection .form{
    max-width: 600px;
    background-color: #ffffff;
    margin: auto;
    padding: 60px 25px;
    box-shadow: 0 0 10px #888888;
}

.rsvpsection .form .inputgroup{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.rsvpsection .form .inputgroup.w50{
    flex: 0 0 50%;
    max-width: 50%;
}

.rsvpsection .form .inputcontrol{
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #000000;
    padding: 6px 12px;
    border: 1px solid #cccccc;
}

.rsvpsection .form textarea.inputcontrol{
    height: 120px;
    padding-top: 12px;
    resize: none;
}

.rsvpsection .form .inputcontrol:focus{
    outline: none;
}

.footer{
    padding: 120px 0 120px;
}

.footer .footercontent{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.footer .footercontent .couplename{
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.footer .footercontent .couplename img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(100deg);
}

.footer .footercontent .couplename h2{
    font-size: 40px;
    color: #000000;
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}

.footer .footercontent .couplename h2 span{
    font-weight: normal;
    display: block;
}

.footer .footercontent p{
    font-size: 40px;
    color: #000000;
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
}

p.copyright{
    text-align: center;
    font-size: 14px;
    padding: 0 15px;
    color: #555555;
    padding: 20px 0;
    border-top: 1px solid #888888;
}

body.dark .rsvpsection .form,
body.dark .eventsection .eventiteminner,
body.dark{
    background-color: #111111;
}

body.dark .rsvpsection .form .inputcontrol,
body.dark .peoplesection .peopleiteminner,
body.dark .peoplesection .filterbtn,
body.dark .header.fixed .barbtn,
body.dark .header.fixed{
    background-color: #222222;
}

body.dark .footer .footercontent p,
body.dark .footer .footercontent .couplename h2,
body.dark .rsvpsection .form .inputcontrol,
body.dark .peoplesection .peopleiteminner h4,
body.dark .peoplesection .filterbtn.active,
body.dark .eventsection .eventiteminner h3,
body.dark .sectiontitle h2,
body.dark .header .nav ul li a,
body.dark .header.fixed .nav ul li a,
body.dark .header.fixed .logo a{
    color: #ffffff;
}

body.dark p.copyright,
body.dark p.copyright-text,
body.dark .peoplesection .peopleiteminner p,
body.dark .peoplesection .filterbtn,
body.dark .eventsection .eventiteminner p,
body.dark .storysection .storytext span.date,
body.dark .storysection .storytext p,
body.dark .couplesection .couple p{
    color: #bbbbbb;
}


body.dark .header.fixed .barbtn{
     border-color: #ffffff;
 }

body.darl .rsvpsection .form, 
body.dark .eventsection .eventiteminner,
body.dark .peoplesection .peopleiteminner img,
body.dark .header.fixed{
     box-shadow: 0 0 10px #000000;
 }
body.dark .header.fixed{
    border-color: #444444;
 }

 body.dark .storysection .storycontent:before,
 body.dark .couplesection .couple:nth-child(2)::before{
     background-color: #333333 ;
 }

 body.dark p.copyright,
 body.dark .rsvpsection .form .inputcontrol,
 body.dark .eventsection .eventiteminner h3,
 body.dark header.fixed .nav{
     border-color: #333333;
 }

body.dark .header.fixed{
    border-color: transparent;
}

 @media(max-width:767px){
    body.dark .header .nav{
        background-color: #222222;
    }
 }