.preloader .loader i,
.btn1:hover,
.peoplesection .peopleiteminner .socialicons a i,
.eventsection .eventiteminner span,
.storysection .storyitem i,
.storysection .storytext h3,
.couplesection .socialicons a i,
.couplesection .couple i.fa-heart,
.couplesection .couple h3,
body.dark .header .nav ul li a.active,
.header .nav ul li a.active,
body.dark .header .nav ul li a:hover,
.header .nav ul li a:hover{
    color: #3e99f4;
}

.btn1,
.peoplesection .peopleiteminner .socialicons a i,
.eventsection .eventiteminner::before,
.couplesection .socialicons a i,
.couplesection .couple img{
    border-color: #3e99f4;
}

.preloader .loader:before{
    border-right-color: #3e99f4;
}

.setting .settingtogglebtn,
.btn1,
.rsvpsection,
.peoplesection .peopleiteminner .socialicons a:hover i,
body.dark .peoplesection .filterbtn.active,
.peoplesection .filterbtn.active,
.eventsection,
.couplesection .socialicons a:hover i{
    background-color: #3e99f4;
}

.eventsection .eventiteminner img,
.footer .footercontent .couplename img{
    filter: hue-rotate(220deg);
}