@media(min-width: 768px){
    .header .nav{
    display: block!important;
    }
}
@media(max-width: 991px){
    .gallerysection .galleryitem,
    .peoplesection .peopleitem,
    .eventsection .eventitem{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media(max-width: 767px){
    .header .logo{
        padding: 8px 15px;
    }
    
    .header .barbtn{
        display: flex;
        margin-right: 15px;
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        display: none;
    }
    .header.fixed .nav{
        border-top: 1px solid #cccccc;
    }
    .header .nav ul li{
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a{
        color: #555555;
        padding: 10px 0;
    }
    .homesection .homecontent h1{
        font-size: 60px;
    }
    .couplesection .couple{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
    .couplesection .couple:nth-child(2){
        margin-top: 40px;
    }
    .couplesection .couple:nth-child(2):before{
        content: none;
    }
    .couplesection .couple i.fa-heart{
        display: none;
    }
    .storysection .storyimg{
        margin-top: 20px;
    }
    .storysection .storycontent:before{
        left: 20px;
    }
    .storysection .storyitem i{
        margin-left: 0px;
        left: 5px;
    }
    .eventsection .eventitem:nth-child(2) {
        transform: translateY(0px);
    }
    .eventsection .eventitem,
    .storysection .storytext, .storysection .storyimg {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .storysection .storyitem:nth-child(odd) .storytext {
        padding: 0 15px 0 50px;
        text-align: left;
    }
    .storysection .storyitem:nth-child(even) .storyimg {
        padding: 0 15px 0 50px
    }
    .storysection .storyitem:nth-child(even) .storytext,
    .storysection .storyitem:nth-child(odd) .storyimg {
        padding: 0 15px 0 50px;
    }
}

@media(max-width: 574px){
    .rsvpsection .form{
        padding: 40px 0px;
    }
    .homesection .homecontent h1{
        font-size: 40px;
    }
    .rsvpsection .form .inputgroup.w50,
    .gallerysection .galleryitem,
    .peoplesection .peopleitem{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer .footercontent .couplename{
        width: 290px;
        height: 290px;
    }
    .footer .footercontent p,
    .footer .footercontent .couplename h2{
        font-size: 32px;
    }
}